pipeline/pl_copy_ods_savings_to_integration.json
{
	"name": "pl_copy_ods_savings_to_integration",
	"properties": {
		"description": "ADF pipeline to copy files from a file server ",
		"activities": [
			{
				"name": "files",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "files",
					"value": {
						"value": "@json('[\n\t{\n\t\t\"filename\":\"hds_t_brdg_product_intrest_file_1_of_1_20240110_20240110.csv\",\n\t\t\"encoding\":\"UTF-8\"\n\t},\n\t{\n\t\t\"filename\":\"hds_t_brdg_role_account_client_file_1_of_1_20231222_20231222.csv\",\n\t\t\"encoding\":\"UTF-8\"\n\t},\n\t{\n\t\t\"filename\":\"hds_t_dim_account_file_1_of_4_20240112_20240112.csv\",\n\t\t\"encoding\":\"WINDOWS-1252\"\n\t},\n\t{\n\t\t\"filename\":\"hds_t_dim_product_file_1_of_1_20231222_20231222.csv\",\n\t\t\"encoding\":\"WINDOWS-1252\"\n\t},\n\t{\n\t\t\"filename\":\"hds_t_fct_balance_file_1_of_11_20231222_20231222.csv\",\n\t\t\"encoding\":\"UTF-8\"\n\t},\n\t{\n\t\t\"filename\":\"hds_t_fct_transaction_file_1_of_1_20231222_20231222.csv\",\n\t\t\"encoding\":\"UTF-8\"\n\t}\n]')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('files')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy aa-fileserver to ingestion",
							"description": "Copy csv-files from aa-fileserver data to ingestion as binary",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_fileserver_binary_on_prem",
									"type": "DatasetReference",
									"parameters": {
										"user_name": {
											"value": "@pipeline().parameters.fileserver_user_name",
											"type": "Expression"
										},
										"host_name": {
											"value": "@pipeline().parameters.fileserver_host_name",
											"type": "Expression"
										},
										"key_vault_uri": {
											"value": "@pipeline().globalParameters.key_vault_uri",
											"type": "Expression"
										},
										"fileserver_password_secret_name": {
											"value": "@pipeline().parameters.keyvault_secret_name",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.fileserver_directory",
											"type": "Expression"
										},
										"file_name": {
											"value": "@variables('file_name')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blob_binary_auto_resolve",
									"type": "DatasetReference",
									"parameters": {
										"storage_account_uri": {
											"value": "@pipeline().globalParameters.storage_account_data_factory_uri",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.storage_container_data_factory",
											"type": "Expression"
										},
										"datastore_name": {
											"value": "@pipeline().parameters.datastore_name",
											"type": "Expression"
										},
										"dataset_name": {
											"value": "@variables('dataset_name')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@variables('file_name')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "dataset name",
							"description": "extract dataset name from filename",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "reference link",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "dataset_name",
								"value": {
									"value": "@split(variables('file_name'),'_file')[0]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy ingestion to datalake",
							"description": "Copy ingestion csv-files to datalake as parquet ",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "download timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "reference_link",
											"value": {
												"value": "@variables('reference_link')",
												"type": "Expression"
											}
										},
										{
											"name": "file_name",
											"value": {
												"value": "@variables('file_name')",
												"type": "Expression"
											}
										},
										{
											"name": "data_name",
											"value": {
												"value": "@variables('data_name')",
												"type": "Expression"
											}
										},
										{
											"name": "download_timestamp",
											"value": {
												"value": "@variables('download_timestamp')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"skipLineCount": {
											"value": "@pipeline().parameters.skip_line_count",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_blob_csv_azure_shir",
									"type": "DatasetReference",
									"parameters": {
										"storage_account_uri": {
											"value": "@pipeline().globalParameters.storage_account_data_factory_uri",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.storage_container_data_factory",
											"type": "Expression"
										},
										"datastore_name": {
											"value": "@pipeline().parameters.datastore_name",
											"type": "Expression"
										},
										"dataset_name": {
											"value": "@variables('dataset_name')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@variables('file_name')",
											"type": "Expression"
										},
										"column_delimiter": {
											"value": "@pipeline().parameters.column_delimiter",
											"type": "Expression"
										},
										"encoding": {
											"value": "@variables('encoding')",
											"type": "Expression"
										},
										"first_row_as_header": true
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_parquet_auto_resolve",
									"type": "DatasetReference",
									"parameters": {
										"datastore_name": {
											"value": "@pipeline().parameters.datastore_name",
											"type": "Expression"
										},
										"dataset_name": {
											"value": "@variables('dataset_name')",
											"type": "Expression"
										},
										"storage_account_uri": {
											"value": "@pipeline().globalParameters.storage_account_data_factory_uri",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.storage_container_data_factory",
											"type": "Expression"
										},
										"file_name": {
											"value": "@replace(variables('file_name'),'.csv','')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "reference link",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "encoding",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "reference_link",
								"value": {
									"value": "@concat(replace(pipeline().parameters.fileserver_user_name,'\\','/'),'@',replace(pipeline().parameters.fileserver_host_name,'\\','/'),'/',replace(pipeline().parameters.fileserver_directory,'\\','/'),'/',variables('file_name'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "file name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_name",
								"value": {
									"value": "@item()['filename']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "data name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "dataset name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "data_name",
								"value": {
									"value": "''",
									"type": "Expression"
								}
							}
						},
						{
							"name": "download timestamp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "data name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "download_timestamp",
								"value": {
									"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','W. Europe Standard Time'), 'yyyyMMdd_HHmmss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "encoding",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "file name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "encoding",
								"value": {
									"value": "@item()['encoding']",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"keyvault_secret_name": {
				"type": "string",
				"defaultValue": "fileserver-credentials-ods"
			},
			"datastore_name": {
				"type": "string",
				"defaultValue": "ods_savings"
			},
			"fileserver_user_name": {
				"type": "string",
				"defaultValue": "PRD\\SRV_AA_DEV"
			},
			"fileserver_host_name": {
				"type": "string",
				"defaultValue": "\\\\SVNIBCFILD101\\e$"
			},
			"fileserver_directory": {
				"type": "string",
				"defaultValue": "Archive\\Retail_ODS\\hds_savings\\Daily"
			},
			"column_delimiter": {
				"type": "string",
				"defaultValue": "|&|"
			},
			"skip_line_count": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"files": {
				"type": "Array"
			},
			"dataset_name": {
				"type": "String"
			},
			"reference_link": {
				"type": "String"
			},
			"file_name": {
				"type": "String"
			},
			"data_name": {
				"type": "String"
			},
			"download_timestamp": {
				"type": "String"
			},
			"encoding": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dick"
		},
		"annotations": []
	}
}