pipeline/pl_copy_ods_savings_to_integration.json
{
	"name": "pl_copy_ods_savings_to_integration",
	"properties": {
		"description": "ADF pipeline to copy files from a file server ",
		"activities": [
			{
				"name": "files",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "files",
					"value": [
						"hds_t_brdg_product_intrest_file_1_of_1_20240110_20240110.csv",
						"hds_t_brdg_role_account_client_file_1_of_1_20231222_20231222.csv",
						"hds_t_dim_account_file_1_of_4_20240112_20240112.csv",
						"hds_t_dim_product_file_1_of_1_20231222_20231222.csv",
						"hds_t_fct_balance_file_1_of_11_20231222_20231222.csv",
						"hds_t_fct_transaction_file_1_of_1_20231222_20231222.csv"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('files')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy csv data",
							"description": "Copy csv data from file server",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "extract dataset",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_fileserver_csv_file_on_prem",
									"type": "DatasetReference",
									"parameters": {
										"host_name": {
											"value": "@pipeline().parameters.fileserver_host_name",
											"type": "Expression"
										},
										"user_name": {
											"value": "@pipeline().parameters.fileserver_user_name",
											"type": "Expression"
										},
										"key_vault_uri": {
											"value": "@pipeline().globalParameters.key_vault_uri",
											"type": "Expression"
										},
										"fileserver_password_secret_name": {
											"value": "@pipeline().parameters.keyvault_secret_name",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.fileserver_directory",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item()",
											"type": "Expression"
										},
										"column_delimiter": {
											"value": "@pipeline().parameters.column_delimiter",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blob_binary_azure_shir",
									"type": "DatasetReference",
									"parameters": {
										"storage_account_uri": {
											"value": "@pipeline().globalParameters.storage_account_data_factory_uri",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.storage_container_data_factory",
											"type": "Expression"
										},
										"datastore_name": {
											"value": "@pipeline().parameters.datastore_name",
											"type": "Expression"
										},
										"dataset_name": {
											"value": "@variables('dataset')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "extract dataset",
							"description": "extract dataset from filename",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "dataset",
								"value": {
									"value": "@split(item(),'_file')[0]",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"keyvault_secret_name": {
				"type": "string",
				"defaultValue": "fileserver-credentials-ods"
			},
			"datastore_name": {
				"type": "string",
				"defaultValue": "ods_savings"
			},
			"fileserver_user_name": {
				"type": "string",
				"defaultValue": "PRD\\SRV_AA_DEV"
			},
			"fileserver_host_name": {
				"type": "string",
				"defaultValue": "\\\\SVNIBCFILD101\\e$"
			},
			"fileserver_directory": {
				"type": "string",
				"defaultValue": "Archive\\Retail_ODS\\hds_savings\\Daily"
			},
			"column_delimiter": {
				"type": "string",
				"defaultValue": ","
			}
		},
		"variables": {
			"files": {
				"type": "Array"
			},
			"dataset": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dick"
		},
		"annotations": []
	}
}