pipeline/pl_copy_ods_savings_to_integration.json
{
	"name": "pl_copy_ods_savings_to_integration",
	"properties": {
		"description": "ADF pipeline to copy files from a file server ",
		"activities": [
			{
				"name": "files",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "files",
					"value": [
						"hds_t_brdg_product_intrest_file_1_of_1_20240110_20240110.csv",
						"hds_t_brdg_role_account_client_file_1_of_1_20231222_20231222.csv",
						"hds_t_dim_account_file_1_of_4_20240112_20240112.csv",
						"hds_t_dim_product_file_1_of_1_20231222_20231222.csv",
						"hds_t_fct_balance_file_1_of_11_20231222_20231222.csv",
						"hds_t_fct_transaction_file_1_of_1_20231222_20231222.csv"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "Copy csv data",
							"description": "Copy csv data from file server",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": false,
										"wildcardFileName": {
											"value": "@pipeline().parameters.source_file_name_pattern",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"skipLineCount": {
											"value": "@pipeline().parameters.skip_line_count",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_fileserver_csv_file_on_prem",
									"type": "DatasetReference",
									"parameters": {
										"host_name": {
											"value": "@pipeline().parameters.fileserver_host_name",
											"type": "Expression"
										},
										"user_name": {
											"value": "@pipeline().parameters.fileserver_user_name",
											"type": "Expression"
										},
										"key_vault_uri": {
											"value": "@pipeline().globalParameters.key_vault_uri",
											"type": "Expression"
										},
										"fileserver_password_secret_name": {
											"value": "@pipeline().parameters.keyvault_secret_name",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.fileserver_directory",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item()",
											"type": "Expression"
										},
										"column_delimiter": ","
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_parquet_auto_resolve",
									"type": "DatasetReference",
									"parameters": {
										"datastore_name": {
											"value": "@pipeline().parameters.datastore_name",
											"type": "Expression"
										},
										"dataset_name": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										},
										"storage_account_uri": {
											"value": "@pipeline().globalParameters.storage_account_datalake_uri",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.storage_container_datalake",
											"type": "Expression"
										},
										"file_name": {
											"value": "@pipeline().parameters.dataset_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "filename",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"keyvault_secret_name": {
				"type": "string",
				"defaultValue": "fileserver-credentials-ods"
			},
			"datastore_name": {
				"type": "string",
				"defaultValue": "ods_savings"
			},
			"dataset_name": {
				"type": "string",
				"defaultValue": "ab_t_qu_campaign_report"
			},
			"source_file_name_pattern": {
				"type": "string",
				"defaultValue": "ab_t_qu_campaign_report_file*"
			},
			"fileserver_user_name": {
				"type": "string",
				"defaultValue": "PRD\\SRV_AA_DEV"
			},
			"fileserver_host_name": {
				"type": "string",
				"defaultValue": "\\\\SVNIBCFILD101\\e$"
			},
			"fileserver_directory": {
				"type": "string",
				"defaultValue": "CDP\\Retail_ODS\\hds_mortgages"
			},
			"column_delimiter": {
				"type": "string",
				"defaultValue": "|&|"
			},
			"skip_line_count": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"files": {
				"type": "Array"
			},
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "on_prem/dick"
		},
		"annotations": []
	}
}