pipeline/pl_rest_api_subscription_cloud.json
{
	"name": "pl_rest_api_subscription_cloud",
	"properties": {
		"description": "Use this pipeline to connect the the API managed services REST API",
		"activities": [
			{
				"name": "Get PIM token",
				"description": "Fetches an authentication token from Microsoft Entra Privileged Identity Management. This token is used in subsequent API calls.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": {
						"value": "@pipeline().parameters.token_url",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('client_id=', pipeline().parameters.microsoft_entra_cid, '&scope=', pipeline().parameters.microsoft_entra_scope, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get secret",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_get_keyvault_secret",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"keyvault_secret_name": {
							"value": "@pipeline().parameters.key_vault_secret_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get reference link from Service Bus",
				"description": "Fetches a reference link from the Service Bus to download a file from the Storage Account",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Storage token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', \n        activity('Get PIM token').output['access_token']\n)",
							"type": "Expression"
						},
						"ServiceBus-Authorization": {
							"value": "@concat('Bearer ', \n        activity('Get Service Bus token').output['access_token']\n)",
							"type": "Expression"
						},
						"Topic": {
							"value": "@pipeline().parameters.service_bus_topic",
							"type": "Expression"
						},
						"Subscription": {
							"value": "@pipeline().parameters.service_bus_topic_subscription",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat(pipeline().parameters.base_url,pipeline().parameters.relative_url,'receive-message')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "cloud",
						"type": "IntegrationRuntimeReference"
					},
					"body": "dummy"
				}
			},
			{
				"name": "Get Service Bus token",
				"description": "Fetches an authentication token from Microsoft Entra Privileged Identity Management. This token is used in subsequent API calls.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get PIM token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": {
						"value": "@pipeline().parameters.token_url",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('client_id=', pipeline().parameters.microsoft_entra_cid, '&scope=', pipeline().parameters.token_scope_service_bus, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Storage token",
				"description": "Fetches an authentication token from Microsoft Entra Privileged Identity Management. This token is used in subsequent API calls.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Service Bus token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": {
						"value": "@pipeline().parameters.token_url",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('client_id=', pipeline().parameters.microsoft_entra_cid, '&scope=', pipeline().parameters.token_scope_storage, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "content-length gt 0",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set variable stop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('stop'),'yes')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy REST API dataset",
							"description": "Copies the REST API dataset to datalake.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set download timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@variables('reference_link')",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat('Bearer ', activity('Get PIM token').output['access_token'])",
											"type": "Expression"
										},
										"Storage-Authorization": {
											"value": "@concat('Bearer ', activity('Get Storage token').output['access_token'])",
											"type": "Expression"
										},
										"Content-Type": "application/json"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_api_cloud",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(pipeline().parameters.relative_url,'receive-blob')\n",
											"type": "Expression"
										},
										"base_url": {
											"value": "@pipeline().parameters.base_url",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blob_csv_azure_shir",
									"type": "DatasetReference",
									"parameters": {
										"column_delimiter": ",",
										"encoding": "UTF-8",
										"first_row_as_header": true
									}
								}
							]
						},
						{
							"name": "filename",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@activity('Get reference link from Service Bus').output['ADFWebActivityResponseHeaders']['File-Name']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "dataname",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "dataname",
								"value": {
									"value": "@activity('Get reference link from Service Bus').output['ADFWebActivityResponseHeaders']['Data-Name']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "reference_link",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "dataname",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "reference_link",
								"value": {
									"value": "@activity('Get reference link from Service Bus').output['referenceLink']",
									"type": "Expression"
								}
							}
						},
						{
							"name": "convert CSV to parquet",
							"description": "Copy CSV data to a parquet file, adding the filename, dataname, download_timestamp and reference_link",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "copy REST API dataset",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "filename",
											"value": {
												"value": "@variables('filename')",
												"type": "Expression"
											}
										},
										{
											"name": "download_timestamp",
											"value": {
												"value": "@variables('download_timestamp')",
												"type": "Expression"
											}
										},
										{
											"name": "dataname",
											"value": {
												"value": "@variables('dataname')",
												"type": "Expression"
											}
										},
										{
											"name": "reference_link",
											"value": {
												"value": "@variables('reference_link')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": false,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_blob_csv_azure_shir",
									"type": "DatasetReference",
									"parameters": {
										"storage_account_uri": "@pipeline().globalParameters.storage_account_data_factory_uri",
										"container_name": "@pipeline().globalParameters.storage_container_data_factory",
										"datastore_name": "@pipeline().parameters.datastore_name",
										"dataset_name": "@variables('dataname')",
										"file_name": "@concat(variables('dataname'),'.csv')",
										"column_delimiter": ",",
										"encoding": "UTF-8",
										"first_row_as_header": true
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_parquet_auto_resolve",
									"type": "DatasetReference",
									"parameters": {
										"datastore_name": {
											"value": "@pipeline().parameters.datastore_name",
											"type": "Expression"
										},
										"dataset_name": {
											"value": "@variables('dataname')",
											"type": "Expression"
										},
										"storage_account_uri": {
											"value": "@pipeline().globalParameters.storage_account_datalake_uri",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.storage_container_datalake",
											"type": "Expression"
										},
										"file_name": {
											"value": "@variables('dataname')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "set download timestamp",
							"description": "Set download timestamp in west europe timezone",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "reference_link",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "download_timestamp",
								"value": {
									"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','W. Europe Standard Time'), 'yyyyMMdd_HHmmss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable stop_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "convert CSV to parquet",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "stop",
								"value": "yes"
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set variable stop",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get reference link from Service Bus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "stop",
					"value": "no"
				}
			}
		],
		"parameters": {
			"datastore_name": {
				"type": "string",
				"defaultValue": "ods_savings"
			},
			"relative_url": {
				"type": "string",
				"defaultValue": "/internal/consumer/1.0/"
			},
			"base_url": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com"
			},
			"key_vault_secret_name": {
				"type": "string",
				"defaultValue": "apim-authorization-access-token"
			},
			"microsoft_entra_cid": {
				"type": "string",
				"defaultValue": "a1bb61c1-d7c6-468b-9e6a-720dcd63ce91"
			},
			"microsoft_entra_scope": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com/.default"
			},
			"token_url": {
				"type": "string",
				"defaultValue": "https://login.microsoftonline.com/8614d95f-762b-4789-a741-2589e3d0b08b/oauth2/v2.0/token"
			},
			"token_scope_service_bus": {
				"type": "string",
				"defaultValue": "https://servicebus.azure.net/.default"
			},
			"token_scope_storage": {
				"type": "string",
				"defaultValue": "https://storage.azure.com/.default"
			},
			"service_bus_topic": {
				"type": "string",
				"defaultValue": "ods-savings"
			},
			"service_bus_topic_subscription": {
				"type": "string",
				"defaultValue": "cdp"
			}
		},
		"variables": {
			"filename": {
				"type": "String"
			},
			"dataname": {
				"type": "String"
			},
			"reference_link": {
				"type": "String"
			},
			"download_timestamp": {
				"type": "String"
			},
			"stop": {
				"type": "String"
			}
		},
		"folder": {
			"name": "cloud"
		},
		"annotations": []
	}
}