pipeline/pl_rest_api_cloud_get_copy1.json
{
	"name": "pl_rest_api_cloud_get_copy1",
	"properties": {
		"description": "Use this pipeline to connect the the API managed services REST API GET method",
		"activities": [
			{
				"name": "copy REST API dataset",
				"description": "Copies the REST API dataset to datalake.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', activity('Get access token').output['access_token'])",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(string(pipeline().parameters.column_mapping))",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_rest_api_cloud",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "@pipeline().parameters.relative_url",
								"type": "Expression"
							},
							"base_url": {
								"value": "@pipeline().parameters.base_url",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_auto_resolve",
						"type": "DatasetReference",
						"parameters": {
							"datastore_name": {
								"value": "@pipeline().parameters.datastore_name",
								"type": "Expression"
							},
							"dataset_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"storage_account_uri": {
								"value": "@pipeline().globalParameters.storage_account_datalake_uri",
								"type": "Expression"
							},
							"container_name": {
								"value": "@pipeline().globalParameters.storage_container_datalake",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get access token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://login.microsoftonline.com/8614d95f-762b-4789-a741-2589e3d0b08b/oauth2/v2.0/token",
					"body": {
						"value": "@concat('client_id=', pipeline().globalParameters.cip_client_id, '&scope=', pipeline().globalParameters.cip_scope, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get secret",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_get_keyvault_secret",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"keyvault_secret_name": {
							"value": "@pipeline().parameters.key_vault_secret_name",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"datastore_name": {
				"type": "string",
				"defaultValue": "salesforce_marketing_cloud"
			},
			"dataset_name": {
				"type": "string",
				"defaultValue": "customer_data"
			},
			"relative_url": {
				"type": "string",
				"defaultValue": "customer-data"
			},
			"base_url": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com/internal/salesforcemarketingcloud-customer-data-api/1.0"
			},
			"key_vault_secret_name": {
				"type": "string",
				"defaultValue": "apim-authorization-access-token"
			},
			"column_mapping": {
				"type": "string",
				"defaultValue": [
					{
						"source": "item",
						"sink": "item"
					},
					{
						"source": "item.keys.sf_id_18",
						"sink": "sf_id_18"
					},
					{
						"source": "item.values.account_id",
						"sink": "account_id"
					},
					{
						"source": "item.values.ods_id",
						"sink": "ods_id"
					},
					{
						"source": "item.values.email",
						"sink": "email"
					},
					{
						"source": "item.values.firstname",
						"sink": "firstname"
					},
					{
						"source": "item.values.prefix",
						"sink": "prefix"
					},
					{
						"source": "item.values.lastname",
						"sink": "lastname"
					},
					{
						"source": "item.values.salutation",
						"sink": "salutation"
					},
					{
						"source": "item.values.gender",
						"sink": "gender"
					},
					{
						"source": "item.values.birthdate",
						"sink": "birthdate"
					},
					{
						"source": "item.values.languagecode",
						"sink": "languagecode"
					},
					{
						"source": "item.values.startdate_client",
						"sink": "startdate_client"
					},
					{
						"source": "item.values.street",
						"sink": "street"
					},
					{
						"source": "item.values.state",
						"sink": "state"
					},
					{
						"source": "item.values.city",
						"sink": "city"
					},
					{
						"source": "item.values.country",
						"sink": "country"
					},
					{
						"source": "item.values.phonenumber",
						"sink": "phonenumber"
					},
					{
						"source": "item.values.mobilenumber",
						"sink": "mobilenumber"
					},
					{
						"source": "item.values.lastmodified",
						"sink": "lastmodified"
					},
					{
						"source": "item.values.deceaseindicator",
						"sink": "deceaseindicator"
					},
					{
						"source": "item.values.newsletter_optin",
						"sink": "newsletter_optin"
					},
					{
						"source": "item.values.newsletter_optout_date",
						"sink": "newsletter_optout_date"
					},
					{
						"source": "item.values.nps_optin",
						"sink": "nps_optin"
					},
					{
						"source": "item.values.nps_optout_date",
						"sink": "nps_optout_date"
					},
					{
						"source": "item.values.activeclient",
						"sink": "activeclient"
					},
					{
						"source": "item.values.signicat_status__c",
						"sink": "signicat_status__c"
					},
					{
						"source": "item.values.signicatlastmodifieddate",
						"sink": "signicatlastmodifieddate"
					},
					{
						"source": "item.values.signicattype",
						"sink": "signicattype"
					},
					{
						"source": "item.values.signicatesource",
						"sink": "signicatesource"
					}
				]
			}
		},
		"folder": {
			"name": "cloud"
		},
		"annotations": []
	}
}