pipeline/pl_rest_api_cloud_post.json
{
	"name": "pl_rest_api_cloud_post",
	"properties": {
		"description": "Use this pipeline to connect the the API managed services REST API using thr",
		"activities": [
			{
				"name": "copy REST API dataset",
				"description": "Copies the REST API dataset to datalake.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@string(pipeline().parameters.message_body)",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkpETmFfNGk0cjdGZ2lnTDNzSElsSTN4Vi1JVSIsImtpZCI6IkpETmFfNGk0cjdGZ2lnTDNzSElsSTN4Vi1JVSJ9.eyJhdWQiOiJodHRwczovL2FwaW0uZGV2LmNsb3VkLm5pYmMuY29tIiwiaXNzIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvODYxNGQ5NWYtNzYyYi00Nzg5LWE3NDEtMjU4OWUzZDBiMDhiLyIsImlhdCI6MTc0MjM5MDU5NCwibmJmIjoxNzQyMzkwNTk0LCJleHAiOjE3NDIzOTQ0OTQsImFpbyI6ImsyUmdZRGhlT1gxOWlUbXJzbUI4QVl2SzViWFRBQT09IiwiYXBwaWQiOiJhMWJiNjFjMS1kN2M2LTQ2OGItOWU2YS03MjBkY2Q2M2NlOTEiLCJhcHBpZGFjciI6IjEiLCJpZHAiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC84NjE0ZDk1Zi03NjJiLTQ3ODktYTc0MS0yNTg5ZTNkMGIwOGIvIiwib2lkIjoiN2RmODc3MTItNjE1MC00MjU1LThhOWQtNTYzZTVmYjY2MzQ2IiwicmgiOiIxLkFTRUFYOWtVaGl0MmlVZW5RU1dKNDlDd2kyREtLQXpOSkwxRmxmRUJfYTdweEJ5R0FBQWhBQS4iLCJyb2xlcyI6WyJtb25leXZpZXctYXBpIiwiY2Rkbi1iYWdwcm8tYXBpIiwibW9jZWFuLWFwaS1lc2ciLCJtb2NlYW4tYXBpLXBhcnR5IiwiY2JzLWthZGFzdGVyIiwiY29uc3VtZXItY29ubmVjdG9yIiwibW9jZWFuLWFwaS1hbmFjcmVkaXQiLCJzYWxlc2ZvcmNlLWFwaSJdLCJzdWIiOiI3ZGY4NzcxMi02MTUwLTQyNTUtOGE5ZC01NjNlNWZiNjYzNDYiLCJ0aWQiOiI4NjE0ZDk1Zi03NjJiLTQ3ODktYTc0MS0yNTg5ZTNkMGIwOGIiLCJ1dGkiOiJyellMSXpRN1RFU0lmRmZ1djdFWEFBIiwidmVyIjoiMS4wIn0.DtM2V7tbLcdklaszvu78K5taUcXcp2SsCz9671Y5raqsTWr2IUFiUKE5yOEU5ggqLZe4rDtxf2WIpQFPpVEY2DJmhxTeJ98wga0RIq2yXp47V1KZgHUTxhk1YUIRpKT5TXx_PK0RRdZNpvwj6uWkQrMrG1yXKUg5wG1Dztkt6V-LxpFPTp-X6MpywjnAuE2gNgIB1N2RsgjdbcjvCANgPTnkj_SdCaKQT25YK2JUrHKRqgetVwBFWy8rqBcIfRPU-yPhzR-FgFxxdWZb7VnmIw8uYyZLxKbhh2M2G48cxKDT-hK8X6bfkRwAGVNfGQewxZAtTjwAoHxEoFfTkEXJvw",
								"type": "Expression"
							},
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$[\"Id\"]"
								},
								"sink": {
									"name": "Id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[\"CaseNumber\"]"
								},
								"sink": {
									"name": "case_number",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['records']"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_rest_api_cloud",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "@pipeline().parameters.relative_url",
								"type": "Expression"
							},
							"base_url": {
								"value": "@pipeline().parameters.base_url",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_auto_resolve",
						"type": "DatasetReference",
						"parameters": {
							"datastore_name": {
								"value": "@pipeline().parameters.datastore_name",
								"type": "Expression"
							},
							"dataset_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"storage_account_uri": {
								"value": "@pipeline().globalParameters.storage_account_datalake_uri",
								"type": "Expression"
							},
							"container_name": {
								"value": "@pipeline().globalParameters.storage_container_datalake",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get access token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://login.microsoftonline.com/8614d95f-762b-4789-a741-2589e3d0b08b/oauth2/v2.0/token",
					"body": {
						"value": "@concat('client_id=', pipeline().parameters.microsoft_entra_cid, '&scope=', pipeline().parameters.microsoft_entra_scope, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get secret",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_get_keyvault_secret",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"keyvault_secret_name": {
							"value": "@pipeline().parameters.key_vault_secret_name",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"datastore_name": {
				"type": "string",
				"defaultValue": "salesforce"
			},
			"dataset_name": {
				"type": "string",
				"defaultValue": "ssm_cases"
			},
			"relative_url": {
				"type": "string",
				"defaultValue": "retrieve-ssm-cases"
			},
			"base_url": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com/internal/salesforce-api/1.0"
			},
			"key_vault_secret_name": {
				"type": "string",
				"defaultValue": "apim-authorization-access-token"
			},
			"microsoft_entra_cid": {
				"type": "string",
				"defaultValue": "a1bb61c1-d7c6-468b-9e6a-720dcd63ce91"
			},
			"microsoft_entra_scope": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com/.default"
			},
			"column_mapping": {
				"type": "string",
				"defaultValue": "{     \"type\": \"TabularTranslator\",     \"mappings\": [         // {         //     \"source\": {         //         \"path\": \"compositeResponse[0].body.records[*]\"         //     },         //     \"sink\": {         //         \"name\": \"CaseId\",         //         \"type\": \"String\"         //     }         // },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].Id\"             },             \"sink\": {                 \"name\": \"CaseId\",                 \"type\": \"String\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].CaseNumber\"             },             \"sink\": {                 \"name\": \"CaseNumber\",                 \"type\": \"String\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].Status\"             },             \"sink\": {                 \"name\": \"Status\",                 \"type\": \"String\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].IsClosed\"             },             \"sink\": {                 \"name\": \"IsClosed\",                 \"type\": \"Boolean\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].Loan_Number_Display__c\"             },             \"sink\": {                 \"name\": \"LoanNumberDisplay\",                 \"type\": \"String\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].Date_opened__c\"             },             \"sink\": {                 \"name\": \"DateOpened\",                 \"type\": \"String\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].Date_closed__c\"             },             \"sink\": {                 \"name\": \"DateClosed\",                 \"type\": \"String\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].NonCollaborativeMode__c\"             },             \"sink\": {                 \"name\": \"NonCollaborativeMode\",                 \"type\": \"String\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].MotivationNoChange__c\"             },             \"sink\": {                 \"name\": \"MotivationNoChange\",                 \"type\": \"String\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*].Notice__c\"             },             \"sink\": {                 \"name\": \"Notice\",                 \"type\": \"String\"             }         },         // {         //     \"source\": {         //         \"path\": \"compositeResponse[0].body.records[*].Tasks.records[0].Id\"         //     },         //     \"sink\": {         //         \"name\": \"TaskId\",         //         \"type\": \"String\"         //     }         // },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"TaskId\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].Id)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"AnnualIncomeClient1\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].AnnualIncomeClient1__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"AnnualIncomeClient2\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].AnnualIncomeClient2__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"AnnualPensionClient1\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].AnnualPensionClient1__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"AnnualPensionClient2\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].AnnualPensionClient2__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"PaymentPension\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].PaymentPension__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"PaymentEndFiscal\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].PaymentEndFiscal__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"PaymentEndLoan\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].PaymentEndLoan__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionConversion\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionConversion__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionExtendLoan\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionExtendLoan__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionInterestRateAveraging\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionInterestRateAveraging__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionInternalRefinance\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionInternalRefinance__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionMoving\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionMoving__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionNewRepaymentTypeAnn\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionNewRepaymentTypeAnn__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionNewRepaymentTypeLin\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionNewRepaymentTypeLin__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionPrepayOnce\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionPrepayOnce__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionOther\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionOther__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionPrepayOnceAmount\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionPrepayOnceAmount__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionPrepayPeriodAmount\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionPrepayPeriodAmount__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionPrepayPeriodEndDate\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionPrepayPeriodEndDate__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionPrepayPeriodically\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionPrepayPeriodically__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionUpdatePropertyValue\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionUpdatePropertyValue__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"IntentionVisitAdvisor\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].IntentionVisitAdvisor__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"NoIntentionReason\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].NoIntentionReason__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"OpenIntentionDescr\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].OpenIntentionDescr__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"Follow_up_Date\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].Follow_up_Date__c)\"             }         },         {             \"source\": {                 \"path\": \"compositeResponse[0].body.records[*]\"             },             \"sink\": {                 \"name\": \"FollowUpAction\",                 \"type\": \"String\"             },             \"transformation\": {                 \"type\": \"Expression\",                 \"expression\": \"iif(compositeResponse[0].body.records[*].Tasks == null, null, compositeResponse[0].body.records[*].Tasks.records[0].FollowUpAction__c)\"             }         }     ] }"
			},
			"message_body": {
				"type": "string",
				"defaultValue": {
					"compositeRequest": [
						{
							"method": "GET",
							"url": "/services/data/v59.0/query?q=SELECT Id, CaseNumber, Status, isClosed, Loan_Number_Display__c, Date_opened__c, Date_closed__c, NonCollaborativeMode__c, MotivationNoChange__c, Notice__c, (SELECT Id, AnnualIncomeClient1__c, AnnualIncomeClient2__c, AnnualPensionClient1__c, AnnualPensionClient2__c, PaymentPension__c, PaymentEndFiscal__c, PaymentEndLoan__c, IntentionConversion__c, IntentionExtendLoan__c, IntentionInterestRateAveraging__c, IntentionInternalRefinance__c, IntentionMoving__c, IntentionNewRepaymentTypeAnn__c, IntentionNewRepaymentTypeLin__c, IntentionPrepayOnce__c, IntentionOther__c, IntentionPrepayOnceAmount__c, IntentionPrepayPeriodAmount__c, IntentionPrepayPeriodEndDate__c, IntentionPrepayPeriodically__c, IntentionUpdatePropertyValue__c, IntentionVisitAdvisor__c, NoIntentionReason__c, OpenIntentionDescr__c, Follow_up_Date__c, FollowUpAction__c FROM Tasks WHERE RecordType.DeveloperName = 'Active_Servicing') FROM Case WHERE RecordType.DeveloperName = 'Active_Servicing' AND ((isclosed = true) OR (isclosed = false AND Owner.Name != 'Wachtrij Actief Beheer'))",
							"referenceId": "CaseWithTasks"
						}
					]
				}
			}
		},
		"folder": {
			"name": "cloud"
		},
		"annotations": []
	}
}