pipeline/pl_rest_api_cloud_post.json
{
	"name": "pl_rest_api_cloud_post",
	"properties": {
		"description": "Use this pipeline to connect the the API managed services REST API using thr",
		"activities": [
			{
				"name": "copy REST API dataset",
				"description": "Copies the REST API dataset to datalake.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@string(pipeline().parameters.message_body)",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', activity('Get access token').output['access_token'])\n",
								"type": "Expression"
							},
							"Content-Type": "application/json"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$[\"Id\"]"
								},
								"sink": {
									"name": "Id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[\"CaseNumber\"]"
								},
								"sink": {
									"name": "case_number",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['records']"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_rest_api_cloud",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "@pipeline().parameters.relative_url",
								"type": "Expression"
							},
							"base_url": {
								"value": "@pipeline().parameters.base_url",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_auto_resolve",
						"type": "DatasetReference",
						"parameters": {
							"datastore_name": {
								"value": "@pipeline().parameters.datastore_name",
								"type": "Expression"
							},
							"dataset_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"storage_account_uri": {
								"value": "@pipeline().globalParameters.storage_account_datalake_uri",
								"type": "Expression"
							},
							"container_name": {
								"value": "@pipeline().globalParameters.storage_container_datalake",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get access token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://login.microsoftonline.com/8614d95f-762b-4789-a741-2589e3d0b08b/oauth2/v2.0/token",
					"body": {
						"value": "@concat('client_id=', pipeline().parameters.microsoft_entra_cid, '&scope=', pipeline().parameters.microsoft_entra_scope, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get secret",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_get_keyvault_secret",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"keyvault_secret_name": {
							"value": "@pipeline().parameters.key_vault_secret_name",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"datastore_name": {
				"type": "string",
				"defaultValue": "salesforce"
			},
			"dataset_name": {
				"type": "string",
				"defaultValue": "ssm_cases"
			},
			"relative_url": {
				"type": "string",
				"defaultValue": "retrieve-ssm-cases"
			},
			"base_url": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com/internal/salesforce-api/1.0"
			},
			"key_vault_secret_name": {
				"type": "string",
				"defaultValue": "apim-authorization-access-token"
			},
			"microsoft_entra_cid": {
				"type": "string",
				"defaultValue": "a1bb61c1-d7c6-468b-9e6a-720dcd63ce91"
			},
			"microsoft_entra_scope": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com/.default"
			},
			"column_mapping": {
				"type": "string",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"path": "['Id']",
								"type": "String"
							},
							"sink": {
								"name": "id",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['Status']",
								"type": "String"
							},
							"sink": {
								"name": "Status",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['isClosed']",
								"type": "String"
							},
							"sink": {
								"name": "isClosed",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['Loan_Number_Display__c']",
								"type": "String"
							},
							"sink": {
								"name": "Loan_Number_Display__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['Date_opened__c']",
								"type": "String"
							},
							"sink": {
								"name": "Date_opened__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['Date_closed__c']",
								"type": "String"
							},
							"sink": {
								"name": "Date_closed__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['NonCollaborativeMode__c']",
								"type": "String"
							},
							"sink": {
								"name": "NonCollaborativeMode__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['MotivationNoChange__c']",
								"type": "String"
							},
							"sink": {
								"name": "MotivationNoChange__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['CaseNumber']",
								"type": "String"
							},
							"sink": {
								"name": "CaseNumber",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['AnnualIncomeClient1__c']",
								"type": "String"
							},
							"sink": {
								"name": "AnnualIncomeClient1__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['AnnualIncomeClient2__c']",
								"type": "String"
							},
							"sink": {
								"name": "AnnualIncomeClient2__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['AnnualPensionClient1__c']",
								"type": "String"
							},
							"sink": {
								"name": "AnnualPensionClient1__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['AnnualPensionClient2__c']",
								"type": "String"
							},
							"sink": {
								"name": "AnnualPensionClient2__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['PaymentPension__c']",
								"type": "String"
							},
							"sink": {
								"name": "PaymentPension__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['PaymentEndFiscal__c']",
								"type": "String"
							},
							"sink": {
								"name": "PaymentEndFiscal__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['PaymentEndLoan__c']",
								"type": "String"
							},
							"sink": {
								"name": "PaymentEndLoan__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionConversion__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionConversion__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionExtendLoan__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionExtendLoan__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionInterestRateAveraging__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionInterestRateAveraging__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionInternalRefinance__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionInternalRefinance__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionMoving__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionMoving__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionNewRepaymentTypeAnn__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionNewRepaymentTypeAnn__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionNewRepaymentTypeLin__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionNewRepaymentTypeLin__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionPrepayOnce__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionPrepayOnce__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionOther__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionOther__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionPrepayOnceAmount__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionPrepayOnceAmount__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionPrepayPeriodAmount__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionPrepayPeriodAmount__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionPrepayPeriodEndDate__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionPrepayPeriodEndDate__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionPrepayPeriodically__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionPrepayPeriodically__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionUpdatePropertyValue__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionUpdatePropertyValue__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['IntentionVisitAdvisor__c']",
								"type": "String"
							},
							"sink": {
								"name": "IntentionVisitAdvisor__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['NoIntentionReason__c']",
								"type": "String"
							},
							"sink": {
								"name": "NoIntentionReason__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['OpenIntentionDescr__c']",
								"type": "String"
							},
							"sink": {
								"name": "OpenIntentionDescr__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['Follow_up_Date__c']",
								"type": "String"
							},
							"sink": {
								"name": "Follow_up_Date__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['FollowUpAction__c']",
								"type": "String"
							},
							"sink": {
								"name": "FollowUpAction__c",
								"type": "String"
							}
						}
					],
					"collectionReference": "$['records']"
				}
			},
			"message_body": {
				"type": "string",
				"defaultValue": "\"{   \"compositeRequest\": [     {       \"method\": \"GET\", \"url\": \"/services/data/v59.0/query?q=SELECT Id, CaseNumber, Status, isClosed, Loan_Number_Display__c, Date_opened__c, Date_closed__c, NonCollaborativeMode__c, MotivationNoChange__c, Notice__c, (SELECT Id, AnnualIncomeClient1__c, AnnualIncomeClient2__c, AnnualPensionClient1__c, AnnualPensionClient2__c, PaymentPension__c, PaymentEndFiscal__c, PaymentEndLoan__c, IntentionConversion__c, IntentionExtendLoan__c, IntentionInterestRateAveraging__c, IntentionInternalRefinance__c, IntentionMoving__c, IntentionNewRepaymentTypeAnn__c, IntentionNewRepaymentTypeLin__c, IntentionPrepayOnce__c, IntentionOther__c, IntentionPrepayOnceAmount__c, IntentionPrepayPeriodAmount__c, IntentionPrepayPeriodEndDate__c, IntentionPrepayPeriodically__c, IntentionUpdatePropertyValue__c, IntentionVisitAdvisor__c, NoIntentionReason__c, OpenIntentionDescr__c, Follow_up_Date__c, FollowUpAction__c FROM Tasks WHERE RecordType.DeveloperName = 'Active_Servicing') FROM Case WHERE RecordType.DeveloperName = 'Active_Servicing' AND ((isclosed = true) OR (isclosed = false AND Owner.Name != 'Wachtrij Actief Beheer'))\",       \"referenceId\": \"CaseWithTasks\"     }   ] }\""
			}
		},
		"folder": {
			"name": "cloud"
		},
		"annotations": []
	}
}