pipeline/pl_rest_api_cloud_sfmc_new.json
{
	"name": "pl_rest_api_cloud_sfmc_new",
	"properties": {
		"description": "Use this pipeline to connect the the API managed services REST API",
		"activities": [
			{
				"name": "Get access token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://login.microsoftonline.com/8614d95f-762b-4789-a741-2589e3d0b08b/oauth2/v2.0/token",
					"body": {
						"value": "@concat('client_id=', pipeline().globalParameters.cip_client_id, '&scope=', pipeline().globalParameters.cip_scope, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get secret",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_get_keyvault_secret",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"keyvault_secret_name": {
							"value": "@pipeline().parameters.key_vault_secret_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set file_name",
				"description": "Set file name using download timestamp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set download timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name",
					"value": {
						"value": "@replace(\n    pipeline().parameters.file_name_template, \n    '{timestamp}', \n    variables('download_timestamp')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set download timestamp",
				"description": "Set download timestamp in west europe timezone",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "download_timestamp",
					"value": {
						"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','W. Europe Standard Time'), 'yyyyMMdd_HHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "convert json to parquet",
				"description": "Copy json data to a flattened parquet file, selecting items, adding the file_name and download_timestamp columns",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "file_name",
								"value": {
									"value": "@variables('file_name')",
									"type": "Expression"
								}
							},
							{
								"name": "download_timestamp",
								"value": {
									"value": "@variables('download_timestamp')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', activity('Get access token').output['access_token'])",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(string(pipeline().parameters.column_mapping))",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_rest_api_cloud",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "@pipeline().parameters.relative_url",
								"type": "Expression"
							},
							"base_url": "@pipeline().parameters.base_url"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_auto_resolve",
						"type": "DatasetReference",
						"parameters": {
							"datastore_name": {
								"value": "@pipeline().parameters.datastore_name",
								"type": "Expression"
							},
							"dataset_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"storage_account_uri": {
								"value": "@pipeline().globalParameters.storage_account_datalake_uri",
								"type": "Expression"
							},
							"container_name": {
								"value": "@pipeline().globalParameters.storage_container_datalake",
								"type": "Expression"
							},
							"file_name": {
								"value": "@replace(variables('file_name'),'.json','')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"datastore_name": {
				"type": "string",
				"defaultValue": "salesforce_marketing_cloud"
			},
			"dataset_name": {
				"type": "string",
				"defaultValue": "customer_data"
			},
			"relative_url": {
				"type": "string",
				"defaultValue": "customer-data"
			},
			"base_url": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com/internal/salesforcemarketingcloud-customer-data-api/1.0"
			},
			"key_vault_secret_name": {
				"type": "string",
				"defaultValue": "apim-authorization-access-token"
			},
			"file_name_template": {
				"type": "string",
				"defaultValue": "customer_data_{timestamp}.json"
			},
			"column_mapping": {
				"type": "string",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"path": "$['links']"
							},
							"sink": {
								"name": "links"
							}
						},
						{
							"source": {
								"path": "$['requestToken']"
							},
							"sink": {
								"name": "requestToken"
							}
						},
						{
							"source": {
								"path": "$['tokenExpireDateUtc']"
							},
							"sink": {
								"name": "tokenExpireDateUtc"
							}
						},
						{
							"source": {
								"path": "$['customObjectId']"
							},
							"sink": {
								"name": "customObjectId"
							}
						},
						{
							"source": {
								"path": "$['customObjectKey']"
							},
							"sink": {
								"name": "customObjectKey"
							}
						},
						{
							"source": {
								"path": "$['pageSize']"
							},
							"sink": {
								"name": "pageSize"
							}
						},
						{
							"source": {
								"path": "$['page']"
							},
							"sink": {
								"name": "page"
							}
						},
						{
							"source": {
								"path": "$['count']"
							},
							"sink": {
								"name": "count"
							}
						},
						{
							"source": {
								"path": "$['top']"
							},
							"sink": {
								"name": "top"
							}
						},
						{
							"source": {
								"path": "$['items']"
							},
							"sink": {
								"name": "items"
							}
						},
						{
							"source": {
								"path": "file_name"
							},
							"sink": {
								"name": "file_name"
							}
						},
						{
							"source": {
								"path": "download_timestamp"
							},
							"sink": {
								"name": "download_timestamp"
							}
						}
					],
					"mapComplexValuesToString": true
				}
			}
		},
		"variables": {
			"download_timestamp": {
				"type": "String"
			},
			"file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "cloud"
		},
		"annotations": []
	}
}