pipeline/pl_rest_api_cloud_get_tabular_ingestion.json
{
	"name": "pl_rest_api_cloud_get_tabular_ingestion",
	"properties": {
		"description": "Use this pipeline to connect the the API managed services REST API GET method",
		"activities": [
			{
				"name": "copy REST API dataset",
				"description": "Copies the REST API dataset to datalake.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', activity('Get access token').output['access_token'])",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(string(pipeline().parameters.column_mapping))",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_rest_api_cloud",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "@pipeline().parameters.relative_url",
								"type": "Expression"
							},
							"base_url": {
								"value": "@pipeline().parameters.base_url",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_auto_resolve",
						"type": "DatasetReference",
						"parameters": {
							"datastore_name": {
								"value": "@pipeline().parameters.datastore_name",
								"type": "Expression"
							},
							"dataset_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"storage_account_uri": {
								"value": "@pipeline().globalParameters.storage_account_datalake_uri",
								"type": "Expression"
							},
							"container_name": {
								"value": "@pipeline().globalParameters.storage_container_datalake",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get access token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://login.microsoftonline.com/8614d95f-762b-4789-a741-2589e3d0b08b/oauth2/v2.0/token",
					"body": {
						"value": "@concat('client_id=', pipeline().globalParameters.cip_client_id, '&scope=', pipeline().globalParameters.cip_scope, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get secret",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_get_keyvault_secret",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"keyvault_secret_name": {
							"value": "@pipeline().parameters.key_vault_secret_name",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"datastore_name": {
				"type": "string",
				"defaultValue": "salesforce_marketing_cloud"
			},
			"dataset_name": {
				"type": "string",
				"defaultValue": "customer_data"
			},
			"relative_url": {
				"type": "string",
				"defaultValue": "customer-data"
			},
			"base_url": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com/internal/salesforcemarketingcloud-customer-data-api/1.0"
			},
			"key_vault_secret_name": {
				"type": "string",
				"defaultValue": "apim-authorization-access-token"
			},
			"column_mapping": {
				"type": "string",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"path": "['keys']['sf_id_18']",
								"type": "String"
							},
							"sink": {
								"name": "sf_id_18",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['account_id']",
								"type": "String"
							},
							"sink": {
								"name": "account_id",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['ods_id']",
								"type": "String"
							},
							"sink": {
								"name": "ods_id",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['email']",
								"type": "String"
							},
							"sink": {
								"name": "email",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['firstname']",
								"type": "String"
							},
							"sink": {
								"name": "firstname",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['prefix']",
								"type": "String"
							},
							"sink": {
								"name": "prefix",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['lastname']",
								"type": "String"
							},
							"sink": {
								"name": "lastname",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['salutation']",
								"type": "String"
							},
							"sink": {
								"name": "salutation",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['gender']",
								"type": "String"
							},
							"sink": {
								"name": "gender",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['birthdate']",
								"type": "String"
							},
							"sink": {
								"name": "birthdate",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['languagecode']",
								"type": "String"
							},
							"sink": {
								"name": "languagecode",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['startdate_client']",
								"type": "String"
							},
							"sink": {
								"name": "startdate_client",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['street']",
								"type": "String"
							},
							"sink": {
								"name": "street",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['state']",
								"type": "String"
							},
							"sink": {
								"name": "state",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['city']",
								"type": "String"
							},
							"sink": {
								"name": "city",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['country']",
								"type": "String"
							},
							"sink": {
								"name": "country",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['phonenumber']",
								"type": "String"
							},
							"sink": {
								"name": "phonenumber",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['mobilenumber']",
								"type": "String"
							},
							"sink": {
								"name": "mobilenumber",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['lastmodified']",
								"type": "String"
							},
							"sink": {
								"name": "lastmodified",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['deceaseindicator']",
								"type": "String"
							},
							"sink": {
								"name": "deceaseindicator",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['newsletter_optin']",
								"type": "String"
							},
							"sink": {
								"name": "newsletter_optin",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['newsletter_optout_date']",
								"type": "String"
							},
							"sink": {
								"name": "newsletter_optout_date",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['nps_optin']",
								"type": "String"
							},
							"sink": {
								"name": "nps_optin",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['nps_optout_date']",
								"type": "String"
							},
							"sink": {
								"name": "nps_optout_date",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['activeclient']",
								"type": "String"
							},
							"sink": {
								"name": "activeclient",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['signicat_status__c']",
								"type": "String"
							},
							"sink": {
								"name": "signicat_status__c",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['signicatlastmodifieddate']",
								"type": "String"
							},
							"sink": {
								"name": "signicatlastmodifieddate",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['signicattype']",
								"type": "String"
							},
							"sink": {
								"name": "signicattype",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "['values']['signicatesource']",
								"type": "String"
							},
							"sink": {
								"name": "signicatesource",
								"type": "String"
							}
						}
					],
					"collectionReference": "$['items']"
				}
			}
		},
		"folder": {
			"name": "cloud"
		},
		"annotations": []
	}
}