pipeline/pl_rest_api_cloud_post_anubhav.json
{
	"name": "pl_rest_api_cloud_post_anubhav",
	"properties": {
		"description": "Use this pipeline to connect the the API managed services REST API",
		"activities": [
			{
				"name": "Get access token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://login.microsoftonline.com/8614d95f-762b-4789-a741-2589e3d0b08b/oauth2/v2.0/token",
					"body": {
						"value": "@concat('client_id=', pipeline().globalParameters.cip_client_id, '&scope=', pipeline().globalParameters.cip_scope, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get secret",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_get_keyvault_secret",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"keyvault_secret_name": {
							"value": "@pipeline().parameters.key_vault_secret_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "convert json to parquet",
				"description": "Copy json data to a flattened parquet file, selecting items, adding the file_name and download_timestamp columns",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "file_name",
								"value": {
									"value": "@variables('file_name')",
									"type": "Expression"
								}
							},
							{
								"name": "download_timestamp",
								"value": {
									"value": "@variables('download_timestamp')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkNOdjBPSTNSd3FsSEZFVm5hb01Bc2hDSDJYRSIsImtpZCI6IkNOdjBPSTNSd3FsSEZFVm5hb01Bc2hDSDJYRSJ9.eyJhdWQiOiJodHRwczovL2FwaW0uZGV2LmNsb3VkLm5pYmMuY29tIiwiaXNzIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvODYxNGQ5NWYtNzYyYi00Nzg5LWE3NDEtMjU4OWUzZDBiMDhiLyIsImlhdCI6MTc0ODYxMjE4MSwibmJmIjoxNzQ4NjEyMTgxLCJleHAiOjE3NDg2MTYwODEsImFpbyI6ImsyUmdZT0F0WGhxMmJLSnJTdjZEV1gvLyt3WS9CQUE9IiwiYXBwaWQiOiJhMWJiNjFjMS1kN2M2LTQ2OGItOWU2YS03MjBkY2Q2M2NlOTEiLCJhcHBpZGFjciI6IjEiLCJpZHAiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC84NjE0ZDk1Zi03NjJiLTQ3ODktYTc0MS0yNTg5ZTNkMGIwOGIvIiwib2lkIjoiN2RmODc3MTItNjE1MC00MjU1LThhOWQtNTYzZTVmYjY2MzQ2IiwicmgiOiIxLkFTRUFYOWtVaGl0MmlVZW5RU1dKNDlDd2kyREtLQXpOSkwxRmxmRUJfYTdweEJ5R0FBQWhBQS4iLCJyb2xlcyI6WyJtb25leXZpZXctYXBpIiwiY2Rkbi1iYWdwcm8tYXBpIiwiZ29vZ2xlLWFuYWx5dGljcy1hcGkiLCJtb2NlYW4tYXBpLWVzZyIsIm1vY2Vhbi1hcGktcGFydHkiLCJoZG4tYXBpIiwiY2JzLWthZGFzdGVyIiwic2FsZXNmb3JjZW1hcmtldGluZ2Nsb3VkLWFwaSIsImNvbnN1bWVyLWNvbm5lY3RvciIsIm1vY2Vhbi1hcGktYW5hY3JlZGl0Iiwic2FsZXNmb3JjZS1hcGkiLCJzcGFhcmdpZHMtYXBpIl0sInN1YiI6IjdkZjg3NzEyLTYxNTAtNDI1NS04YTlkLTU2M2U1ZmI2NjM0NiIsInRpZCI6Ijg2MTRkOTVmLTc2MmItNDc4OS1hNzQxLTI1ODllM2QwYjA4YiIsInV0aSI6IjQybnJIbUhNa0VHOTNXSjlJWXNSQUEiLCJ2ZXIiOiIxLjAiLCJ4bXNfZnRkIjoiSHJZX05KUWhxaGgwM2RYNDdyc3pkY1NPMGZBdjZsb1pzR0FOZFVHU09aZ0JabkpoYm1ObFl5MWtjMjF6In0.NSn0pLkLICa0MrsreX6tiWBbhjTv0aMj_KRSSYWbNZFYIkBZu_HKYstZM4fPRrMzere1cpxpSlP-XHyVCZ5g7yzJG0yH2PXY_cFJkJ6YdtzOJa8ZGHE9C3POx5aXY3CxobTsr9dhNKbdYFCNC5NI_3SKXgAw3CnXc1q1ZC1w-3o10tFQPZkouXMzW5j-kXcgNUmYgv01K79qPtpjFshaZ4cMsUCBDbWh42fg5C6jC4_ni6Fuu9C6-CaoHR38luwVhnZD8eCapTKYc0NPZ3-ivDcLPhv616yGndIZGJTg3ospIukciUQ1uvom60x5DPlYpJn34s4O09z1JqKs4_9Gow",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(string(pipeline().parameters.column_mapping))",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_rest_api_cloud",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "@pipeline().parameters.relative_url",
								"type": "Expression"
							},
							"base_url": "@pipeline().parameters.base_url"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_auto_resolve",
						"type": "DatasetReference",
						"parameters": {
							"datastore_name": {
								"value": "@pipeline().parameters.datastore_name",
								"type": "Expression"
							},
							"dataset_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"storage_account_uri": {
								"value": "@pipeline().globalParameters.storage_account_datalake_uri",
								"type": "Expression"
							},
							"container_name": {
								"value": "@pipeline().globalParameters.storage_container_datalake",
								"type": "Expression"
							},
							"file_name": {
								"value": "@replace(variables('file_name'),'.json','')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"datastore_name": {
				"type": "string",
				"defaultValue": "salesforce_marketing_cloud"
			},
			"dataset_name": {
				"type": "string",
				"defaultValue": "customer_data"
			},
			"relative_url": {
				"type": "string",
				"defaultValue": "internal/salesforcemarketingcloud-api/1.0/customer-data"
			},
			"base_url": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com"
			},
			"key_vault_secret_name": {
				"type": "string",
				"defaultValue": "apim-authorization-access-token"
			},
			"file_name_template": {
				"type": "string",
				"defaultValue": "customer_data_{timestamp}.json"
			},
			"column_mapping": {
				"type": "string",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"path": "$['links']"
							},
							"sink": {
								"name": "links"
							}
						},
						{
							"source": {
								"path": "$['requestToken']"
							},
							"sink": {
								"name": "requestToken"
							}
						},
						{
							"source": {
								"path": "$['tokenExpireDateUtc']"
							},
							"sink": {
								"name": "tokenExpireDateUtc"
							}
						},
						{
							"source": {
								"path": "$['customObjectId']"
							},
							"sink": {
								"name": "customObjectId"
							}
						},
						{
							"source": {
								"path": "$['customObjectKey']"
							},
							"sink": {
								"name": "customObjectKey"
							}
						},
						{
							"source": {
								"path": "$['pageSize']"
							},
							"sink": {
								"name": "pageSize"
							}
						},
						{
							"source": {
								"path": "$['page']"
							},
							"sink": {
								"name": "page"
							}
						},
						{
							"source": {
								"path": "$['count']"
							},
							"sink": {
								"name": "count"
							}
						},
						{
							"source": {
								"path": "$['top']"
							},
							"sink": {
								"name": "top"
							}
						},
						{
							"source": {
								"path": "$['items']"
							},
							"sink": {
								"name": "items"
							}
						},
						{
							"source": {
								"path": "file_name"
							},
							"sink": {
								"name": "file_name"
							}
						},
						{
							"source": {
								"path": "download_timestamp"
							},
							"sink": {
								"name": "download_timestamp"
							}
						}
					],
					"mapComplexValuesToString": true
				}
			}
		},
		"folder": {
			"name": "cloud"
		},
		"annotations": []
	}
}