pipeline/pl_rest_api_cloud_delete_bagpro_file.json
{
	"name": "pl_rest_api_cloud_delete_bagpro_file",
	"properties": {
		"description": "Use this to delete a file on the bagpro file source system",
		"activities": [
			{
				"name": "Get secret",
				"description": "Get the secret needed to get the authentication access token.",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_get_keyvault_secret",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"keyvault_secret_name": {
							"value": "@pipeline().parameters.key_vault_secret_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "List datasets",
				"description": "List the datasets available for download",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Delete file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', activity('Get access token').output['access_token'])",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat(pipeline().parameters.base_url, pipeline().parameters.relative_url_listing)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "cloud",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "Get access token",
				"description": "Access token needed to authenticate to the Integration API",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://login.microsoftonline.com/8614d95f-762b-4789-a741-2589e3d0b08b/oauth2/v2.0/token",
					"body": {
						"value": "@concat('client_id=', pipeline().parameters.microsoft_entra_cid, '&scope=', pipeline().parameters.microsoft_entra_scope, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Delete file",
				"description": "",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:20:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', activity('Get access token').output['access_token'])",
							"type": "Expression"
						},
						"Filename": {
							"value": "@pipeline().parameters.file_to_delete",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat(pipeline().parameters.base_url, pipeline().parameters.relative_url_delete)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "cloud",
						"type": "IntegrationRuntimeReference"
					}
				}
			}
		],
		"parameters": {
			"base_url": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com"
			},
			"relative_url_listing": {
				"type": "string",
				"defaultValue": "/internal/cddn/bagpro-api/1.0/list"
			},
			"relative_url_delete": {
				"type": "string",
				"defaultValue": "/internal/cddn/bagpro-api/1.0/delete"
			},
			"key_vault_secret_name": {
				"type": "string",
				"defaultValue": "apim-authorization-access-token"
			},
			"microsoft_entra_cid": {
				"type": "string",
				"defaultValue": "a1bb61c1-d7c6-468b-9e6a-720dcd63ce91"
			},
			"microsoft_entra_scope": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com/.default"
			},
			"file_to_delete": {
				"type": "string",
				"defaultValue": "cddn_export_bag_pro_20250325.zip"
			}
		},
		"variables": {
			"dataset_names": {
				"type": "Array"
			},
			"file_date": {
				"type": "String"
			},
			"file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "cloud"
		},
		"annotations": []
	}
}