pipeline/pl_sfmc_rest_paginated.json
{
	"name": "pl_sfmc_rest_paginated",
	"properties": {
		"description": "Use this pipeline to connect the the API managed services REST API",
		"activities": [
			{
				"name": "Get access token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://login.microsoftonline.com/8614d95f-762b-4789-a741-2589e3d0b08b/oauth2/v2.0/token",
					"body": {
						"value": "@concat('client_id=', pipeline().globalParameters.cip_client_id, '&scope=', pipeline().globalParameters.cip_scope, '&client_secret=', activity('Get secret').output.pipelineReturnValue.keyvault_secret_value, '&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get secret",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_util_get_keyvault_secret",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"keyvault_secret_name": {
							"value": "@pipeline().parameters.key_vault_secret_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set file_name",
				"description": "Set file name using download timestamp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set download timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name",
					"value": {
						"value": "@replace(\n    pipeline().parameters.file_name_template, \n    '{timestamp}', \n    variables('download_timestamp')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set download timestamp",
				"description": "Set download timestamp in west europe timezone",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get access token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "download_timestamp",
					"value": {
						"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','W. Europe Standard Time'), 'yyyyMMdd_HHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "rest to parquet",
				"description": "Copy rest json data to a flattened parquet file, selecting items, adding the file_name and download_timestamp columns",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "file_name",
								"value": {
									"value": "@variables('file_name')",
									"type": "Expression"
								}
							},
							{
								"name": "download_timestamp",
								"value": {
									"value": "@variables('download_timestamp')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ', activity('Get access token').output['access_token'])",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl.{page_number}": "RANGE:1:10000:1",
							"EndCondition:$.links.next": "NonExist"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(string(pipeline().parameters.column_mapping))",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_rest_api_cloud",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "@concat(pipeline().parameters.relative_url, '?$page={page_number}')",
								"type": "Expression"
							},
							"base_url": "@pipeline().parameters.base_url"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_auto_resolve",
						"type": "DatasetReference",
						"parameters": {
							"datastore_name": {
								"value": "@pipeline().parameters.datastore_name",
								"type": "Expression"
							},
							"dataset_name": {
								"value": "@pipeline().parameters.dataset_name",
								"type": "Expression"
							},
							"storage_account_uri": {
								"value": "@pipeline().globalParameters.storage_account_datalake_uri",
								"type": "Expression"
							},
							"container_name": {
								"value": "@pipeline().globalParameters.storage_container_datalake",
								"type": "Expression"
							},
							"file_name": {
								"value": "@replace(variables('file_name'),'.json','')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"datastore_name": {
				"type": "string",
				"defaultValue": "salesforce_marketing_cloud"
			},
			"dataset_name": {
				"type": "string",
				"defaultValue": "customer_data_test"
			},
			"relative_url": {
				"type": "string",
				"defaultValue": "internal/salesforcemarketingcloud-customer-data-api/1.0/customer-data"
			},
			"base_url": {
				"type": "string",
				"defaultValue": "https://apim.dev.cloud.nibc.com"
			},
			"key_vault_secret_name": {
				"type": "string",
				"defaultValue": "apim-authorization-access-token"
			},
			"file_name_template": {
				"type": "string",
				"defaultValue": "customer_data_{timestamp}.json"
			},
			"column_mapping": {
				"type": "string",
				"defaultValue": "pl_rest_api_cloud_get_tabular_ingestion  { \t\"type\": \"TabularTranslator\", \t\"mappings\": [ \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['keys']['sf_id_18']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"sf_id_18\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['account_id']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"account_id\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['ods_id']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"ods_id\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['email']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"email\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['firstname']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"firstname\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['prefix']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"prefix\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['lastname']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"lastname\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['salutation']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"salutation\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['gender']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"gender\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['birthdate']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"birthdate\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['languagecode']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"languagecode\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['startdate_client']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"startdate_client\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['street']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"street\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['state']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"state\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['city']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"city\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['country']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"country\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['phonenumber']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"phonenumber\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['mobilenumber']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"mobilenumber\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['lastmodified']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"lastmodified\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['deceaseindicator']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"deceaseindicator\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['newsletter_optin']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"newsletter_optin\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['newsletter_optout_date']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"newsletter_optout_date\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['nps_optin']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"nps_optin\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['nps_optout_date']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"nps_optout_date\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['activeclient']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"activeclient\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['signicat_status__c']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"signicat_status__c\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['signicatlastmodifieddate']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"signicatlastmodifieddate\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['signicattype']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"signicattype\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"['values']['signicatesource']\", \t\t\t\t\"type\": \"String\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"signicatesource\", \t\t\t\t\"type\": \"String\" \t\t\t} \t\t} \t], \t\"collectionReference\": \"$['items']\" \t} \t \t \t   { \t\"type\": \"TabularTranslator\", \t\"mappings\": [ \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['links']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"links\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['requestToken']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"requestToken\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['tokenExpireDateUtc']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"tokenExpireDateUtc\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['customObjectId']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"customObjectId\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['customObjectKey']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"customObjectKey\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['pageSize']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"pageSize\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['page']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"page\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['count']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"count\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['top']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"top\" \t\t\t} \t\t}, \t\t{ \t\t\t\"source\": { \t\t\t\t\"path\": \"$['items']\" \t\t\t}, \t\t\t\"sink\": { \t\t\t\t\"name\": \"items\" \t\t\t} \t\t} \t], \t\"mapComplexValuesToString\": true }"
			}
		},
		"variables": {
			"download_timestamp": {
				"type": "String"
			},
			"file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "cloud"
		},
		"annotations": []
	}
}