pipeline/pl_util_get_keyvault_secret.json
{
	"name": "pl_util_get_keyvault_secret",
	"properties": {
		"activities": [
			{
				"name": "get password",
				"description": "Based on: https://learn.microsoft.com/en-us/azure/data-factory/how-to-use-azure-key-vault-secrets-pipeline-activities",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().globalParameters.key_vault_uri, 'secrets/', pipeline().parameters.keyvault_secret_name, '?api-version=7.2')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "set as return value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get password",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "keyvault_secret_value",
							"value": {
								"type": "Expression",
								"content": "@activity('get password').output.value"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"keyvault_secret_name": {
				"type": "string"
			}
		},
		"variables": {
			"x": {
				"type": "String"
			}
		},
		"annotations": []
	}
}